
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- 
<h1> History </h1>

<ul>
  <li *ngFor="let url of history" (click)="changeUrl(url)">
    {{url}}
  </li>
</ul>

<h1> {{bookmarks.length}} Bookmark(s) </h1> 

<ul>
  <li *ngFor="let url of bookmarks" (click)="changeUrl(url)">
    {{url}}
  </li>
</ul> -->
 <div class="w3-light-grey w3-card" style="width:300px ; height:100%">
  <button class="w3-button w3-block w3-left-align" (click)="myAccFunc1()"> History </button>
  <div id="menuHist" class="w3-bar-block w3-hide w3-white w3-card-4">
    <ng-container *ngFor="let url of history">
      <a (click)="changeUrl(url)" href="#" class="w3-bar-item w3-button">{{url}}</a>
    </ng-container> 
  </div>
  
  
  <button class="w3-button w3-block w3-left-align" (click)="myAccFunc2()"> {{bookmarks.length}} Bookmark(s) </button>
  <div id="menuBook" class="w3-bar-block w3-hide w3-white w3-card-4">
    <ng-container *ngFor="let url of bookmarks">
      <a (click)="changeUrl(url)" href="#" class="w3-bar-item w3-button">{{url}}</a>
    </ng-container>
  </div>
</div> 
